[MESSAGES CONTROL]

disable=unused-argument,
    import-error,
    missing-function-docstring,
    missing-module-docstring,
    missing-class-docstring

init-hook='import sys; sys.path.append(".venv")'

good-names=id
